* {
  text-align: center;
}

form {
  width: 50%;
  position: relative;
  transform: translate(50%, 50%);
  display: flex;
  flex-flow: row wrap;
  border: 1px solid black;
  box-shadow: 10px 10px 10px 10px gray;
  padding: 20px;
}

.form-group {
  width: 50%;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: flex-end;
}

@media screen and (max-width:700px) {
  .form-group {
    width: 100%;
  }
}

.form-group input {
  width: 100%;
  padding: 10px 2px;
  text-align: left;
}

.form-group .error {
  color: red;
}

.form-group button {
  align-self: flex-end;
  width: 100px;
  background: rgb(3, 156, 216);
  color: #ffff;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  box-shadow: 3px 2px 7px lightblue;
  cursor: pointer;
}
